{% extends "base.html" %}

{% debug %}

{% block content %}

<h1>Edit: <i>{{ form.name.value }}</i></h1>

{% include "build_world/markdown_mini.html" %}

<form method="post">{% csrf_token %}
{{ form.non_field_errors }}
	<input type="submit" value="Submit edits" />
	{% for field in form %}
		<div class="fieldWrapper">
			{{ field.errors }}
			{{ field.label_tag }}: {{ field }}
		</div>
	{% endfor %}
		
	<input type="hidden" name="token" value="{{ token }}" />
	<input type="submit" value="Submit edits" />
</form>
{% endblock content %}
