{% extends "build_world/entity_standard.html" %}

{% load webdesign %}

{% block entity %}
    <h1>{{ entity|capfirst }}</h1>
		{% if user_can_edit %}
			<a href="{% url build_world:entity_edit entity.etype entity.id %}">(edit)</a>
		{% endif %}
		{% if user_can_submit %}
			<a href="{% url build_world:create_with_parent parent=entity.id %}">(new child)</a>
			<br />
		{% endif %}
    {% if entity.parent != None %}
        <a href="{% url build_world:entity entity.parent.etype entity.parent.id %}">
        (parent: {{ entity.parent }})</a>
    {% endif %}
    <div class="main">
        <div class="entity_list column">
        {% block sub_entities %}

            {% with entities=entity.entity_set.all %}
            {% regroup entities|dictsort:"get_etype_display" by etype as etype_list %}
            {% for etype in etype_list %}
                <h2>{{ etype.grouper|capfirst }}</h2>
                {% for sub_entity in etype.list %}
                    
                    <a href="/{{ etype.grouper }}/{{ sub_entity.id }}">{{ sub_entity }}</a>
                    <br />
                {% endfor %}
            {% endfor %}
            {% endwith %}
        {% endblock sub_entities %}
        </div>

        <div class="entity_content column">
        {% block entity_content %}
		{# ASSUMES THAT THE ENTITY's DATA HAS BEEN CLEANED #}
		{% autoescape off %}
			<div class="section">
			<h2><a href="{% url build_world:entity_attr etype=entity.etype pk=entity.id attr='notes' %}">Notes:</a></h2>
			{{ entity.notes|truncatewords_html:50 }}
			</div>

			<div class="section">
			<h2><a href="{% url build_world:entity_attr etype=entity.etype pk=entity.id attr='description' %}">Description:</a></h2>
			{{ entity.description|truncatewords_html:50 }}
			</div>

			<div class="section">
			<h2><a href="{% url build_world:entity_attr etype=entity.etype pk=entity.id attr='body' %}">Body:</a></h2>
				{{ entity.body|truncatewords_html:300 }}
			    {#{% lorem 150 w %}...#}
			</div>

		{% endautoescape %}
        {% endblock entity_content %}
        </div>
    </div>

{% endblock entity %}
